@model WebApp.Core.EF.CMS_Links
@using WebApp.Core.EF

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Thêm mới liên kết
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("create", "CMS_Links", FormMethod.Post, new { @id = "createDocuments" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-3">
                                        <input id="@Html.IdFor(model => model.Picture)" name="@Html.IdFor(model => model.Picture)" type="text" class="form-control hidden" readonly />
                                        <div style="width: 100%; max-width: 500px; display: inline-block;">
                                            <img id="pre_picture" style="width: 100%" src="#" alt="Ảnh hiển thị" />
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn btn-default" type="button" onclick="chooseFile()">Chọn ảnh</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Shows, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="@Html.IdFor(model => model.Shows)" value="true" checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 text-center">
                                    <input type="submit" value="Lưu" class="btn btn-primary" />
                                    <a class="btn btn-default" href="@Url.Content("~/admin/CMS_Links")">Quay lại</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section jsFooter{
    <script>
        /////
        function chooseFile() {
            var finder = new CKFinder();
            finder.basePath = '~/ckfinder';
            finder.selectActionFunction = SetFileField1;
            finder.popup();
        }
        // This is a sample function which is called when a file is selected in CKFinder.
        function SetFileField1(fileUrl) {
            document.getElementById('@Html.IdFor(model => model.Picture)').value = fileUrl;
            jQuery('#pre_picture').attr('src', SiteUrlImgCKFinder + fileUrl);
        }
    </script>
    <script src="@Url.Content("~/areas/admin/jscontroller/CMS_Links.js")"></script>
}