@model IEnumerable<WebApp.Core.EF.DT_ThoiDiem>
@{
    ViewBag.Title = "DANH MỤC THỜI ĐIỂM";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-users"></i> Danh sách thời điểm</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-sm btn-success" title="Thêm mới" href="@Url.Content("~/Admin/DT_ThoiDiem/Create")"><i class="fa fa-plus-square"></i> Thêm mới</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tblData" class="table table-striped table-bordered table-hover nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Tên</th>
                                    <th class="text-center">Mô tả</th>
                                    <th class="text-center">Người tạo</th>
                                    <th class="text-center">Ngày tạo</th>
                                    <th class="text-center" width="11%">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    index++;
                                    <tr id="row_@item.Id">
                                        <td align="center">@index</td>
                                        <td id="td_@item.Ten">@item.Ten</td>
                                        <td id="td_@item.Ten">@item.MoTa</td>
                                        <td>@item.CreatedBy</td>
                                        <td align="center">(@item.CreatedDate.HasValue)? @item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm"):""</td>
                                        <td align="center">
                                            <a href="@Url.Content("~/Admin/DT_ThoiDiem/Edit/")@item.Id" type="button" title="Sửa"><span class="fa fa-edit text-info"></span></a>
                                            <a style="cursor: pointer" onclick="del(@item.Id, '/DT_ThoiDiem/Delete')" title="Xóa"><span class="fa fa-trash-alt text-danger"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/areas/admin/jscontroller/TQGCommon.js")"></script>
}